<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <td><img src="{{this.imageUrl}}" alt="{{this.name}}"> </td>
            <td>{{this.name}}</td>
            <td>{{this.count}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>